/* Container Styles */
.container {
    flex: 1;
    padding: 20px;
  }
  
  /* Question Title Styles */
  .titulo {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Question Text Styles */
  .questionText {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  /* Checkbox Container Styles */
  .checkboxContainer {
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  
  /* Checkbox Text Styles */
  .checkboxText {
    margin-right: 10px;
    font-size: 16px;
  }
  
  /* Answered Questions Text Styles */
  .answeredQuestions {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  /* Button Styles */
  .button {
    margin-top: 10px;
  }